<section id="about" style="padding: 70px 0;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 text-center" style="text-align: left;">
                <h2 class="section-heading">Breaking into Product Management the right way !</h2>
                <hr class="light">
                <p class="text-faded">Product Tank Pune's APM program aims at creating the next generation of Product leaders in India by taking a small group of self-driven candidates who are enthusiastic about building products through a training path involving mentorship, on-the-job training and providing them a valuable network that will prepare them for future product leadership.  </p>
                <p class="text-faded"> As an APM, you will:
                 <ul class="text-faded" style="font-size:16px;line-height:25px">
                  <li>Work closely with PMs to develop end-to-end features that address real user needs.</li>
                  <li>Collaborate with engineers, UX designers, marketing, etc to launch your features.</li>
                  <li>Collaborate with senior PMs to work on the roadmap prioritization.</li>
                  <li>Get access to weekly guidance sessions from industry's finest product managers.</li>
                 </ul>
                </p>
            </div>
            <div class="col-lg-4 text-center"><img src="https://i.imgur.com/AjyPJWu.png" style="width: 100%;"></div>
        </div>
    </div>
</section>
