<section id="contact" style="padding:20px 0;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p>If you have any feedback, ideas or suggestions, we'd love to hear them. Please reach out to us on Twitter - <u><a href="https://twitter.com/amitGodbole">Amit</a></u> and <u><a href="https://twitter.com/ak_kshay">Akshay</a></u></p>
            </div>
	</div>
	<div class="row">
		<div style="text-align: center;padding: 10px 0px;font-size: 14px;">Made with <i class="fa fa-heart wow bounceIn" aria-hidden="true" style="color: #5bd2f3;font-size: 18px;"></i> at Pune, India</div>
	</div>

    </div>
</section>
