<section id="faqs" class="accordion-section clearfix mt-3" aria-label="Question Accordions" style="background:#00000017">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Frequently Asked Questions</h2>
                <hr class="primary">
            </div>
        </div>
    </div>  
    <div class="container">
	  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		<div class="panel panel-default">
		  <div class="panel-heading p-3 mb-3" role="tab" id="heading0">
			<h3 class="panel-title">
			  <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="true" aria-controls="collapse0">
				Does the Product Tank Pune APM program cost anything?
			  </a>
			</h3>
		  </div>
		  <div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
			<div class="panel-body px-3 mb-4">
			  <p class="text-faded">The Product Tank Pune APM program is completely free for both the candidates as well as the participating companies. Product Tank Pune does not charge any fees for the program neither from the candidates nor from the companies. It is an initiative to open up more opportunities for PM candidates.</p>
			
			</div>
		  </div>
		</div>
		
		<div class="panel panel-default">
		  <div class="panel-heading p-3 mb-3" role="tab" id="heading1">
			<h3 class="panel-title">
			  <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="true" aria-controls="collapse1">
Is this a full time program ? 
			  </a>
			</h3>
		  </div>
		  <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
			<div class="panel-body px-3 mb-4">
			  <p class="text-faded">Yes, this is a full time program for a duration of 6 months.</p>
			</div>
		  </div>
		</div>
		
		<div class="panel panel-default">
		  <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
			<h3 class="panel-title">
			  <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="true" aria-controls="collapse2">
Will I be paid during the program ?
			  </a>
			</h3>
		  </div>
		  <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
			<div class="panel-body px-3 mb-4">
			  <p class="text-faded">Yes, you will get a salary as decided by the company you get selected for during the APM program.</p>
			</div>
		  </div>
		</div>
		
		<div class="panel panel-default">
		  <div class="panel-heading p-3 mb-3" role="tab" id="heading3">
			<h3 class="panel-title">
			  <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="true" aria-controls="collapse3">
Is this similar to an internship? 
			  </a>
			</h3>
		  </div>
		  <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
			<div class="panel-body px-3 mb-4">
			  <p class="text-faded">Yes. This is very much similar to an internship but instead of just working on internship projects , you will be operating as a PM in full capacity. You will also receive weekly online mentorship and guidance throughout the duration of the program.</p>
			</div>
		  </div>
		</div>

		<div class="panel panel-default">
		  <div class="panel-heading p-3 mb-3" role="tab" id="heading4">
			<h3 class="panel-title">
			  <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="true" aria-controls="collapse4">
What kind of candidates are you looking for?
			  </a>
			</h3>
		  </div>
		  <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
			<div class="panel-body px-3 mb-4">
			  <p class="text-faded">The requirements for each company may vary.Across the board, we are looking for self-driven and motivated candidates who are passionate about Product Management. Some of the requirements of an ideal candidate are:</p>
			  <ul class="text-faded" style="font-size:16px;line-height:25px">
				<li>Prior Work experience with the ability to deliver results while learning on the job.</li>
                                <li>An understanding of how software is built and delivered.</li>
                                <li>Strong interpersonal and stakeholder management skills.</li>
				<li>Excellent written and verbal communication skills.</li>
				<li>Insights about good digital products.</li>
				<li>Eye for detail and a knack for solving problems.</li>
				<li>Experience of working in a team is desired but you are equally comfortable being a solo contributor.</li>
			  </ul>
			</div>
		  </div>
		</div>


	  </div>
  
  </div>
</section>
