<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 style="font-size:45px !important;">Product Tank Pune's <br> APM Program</h1>
            <hr>
            <h3 style="font-weight:400">One of India's first community driven APM programs</h3>
	    <p>Accelerate to a product manager in 6 months with experienced product mentors and on-the-job product development experience.</p>
	    <p>Applications for the 1st cohort are now open!</p>
            <a href="https://forms.gle/amuBVgeTcVf1yhudA" target="_blank" style="margin-top:-25px;" class="btn btn-primary btn-xl page-scroll">Register Now</a>
        </div>
    </div>
</header>
