<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 style="font-size:45px !important;">Product Tank Pune's <br> APM Program</h1>
            <hr>
            <h3 style="font-weight:400">One of India's first community driven APM programs</h3>
	    <p>A 6 month full-time program where you will learn the craft of product management by working with experienced product managers at renowned companies.</p>
	    <p>Applications for the 1st cohort are now open!</p>
            <a href="#about" style="margin-top:-25px;" class="btn btn-primary btn-xl page-scroll">Register Now</a>
        </div>
    </div>
</header>
