<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="35x35" href="img/favicon.png">
    <link rel="manifest" href="/site.webmanifest">
    <title>Product Tank Pune's APM Program</title>

    <!-- social media related -->
    <link rel="canonical" href="https://www.apmtoronto.com">
    <meta property="og:site_name" content="Product Tank Pune's APM Program">
    <meta property="og:title" content="Product Tank Pune's APM Program">
    <meta property="og:url" content="https://apm.producttankpune.com">
    <meta property="og:type" content="website">
    <meta property="og:image" content="">
    <meta property="og:image:width" content="483">
    <meta property="og:image:height" content="291">
    <meta itemprop="name" content="Product Tank Pune's APM Program">
    <meta itemprop="url" content="">
    <meta itemprop="thumbnailUrl" content="">
    <link rel="image_src" href="">
    <meta itemprop="image" content="">
    <meta name="twitter:title" content="Product Tank Pune's APM Program">
    <meta name="twitter:image" content="https://i.imgur.com/AjyPJWu.png">
    <meta name="twitter:url" content="https://apm.producttankpune.com">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:description" content="Accelerate to a product manager in 6 months with experienced product mentors and on-the-job product development experience">
    <meta name="description" content="Accelerate to a product manager in 6 months with experienced product mentors and on-the-job product development experience">
    

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">
   
    <!-- Plugin CSS -->
    <link rel="stylesheet" href="css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/main.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-YXT845MF8Y"></script>
    <script>
  	window.dataLayer = window.dataLayer || [];
  	function gtag(){dataLayer.push(arguments);}
  	gtag('js', new Date());
	gtag('config', 'G-YXT845MF8Y');
    </script>
</head>
