<section id="howitworks" style="background: white;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">How it works?</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <div id="image04" class="image wow bounceIn"><div style="background-image: url('https://i.imgur.com/IHXqLIA.png');" class="round-image">

</div></div>
                    <h3>1. Apply for the program</h3>
                    <p class="text-faded">Register for the upcoming cohort by filling out the application form to help us understand your background better.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <div id="image04" class="image wow bounceIn"><div style="background-image: url('https://i.imgur.com/A9F6W1E.png');" class="round-image">

</div></div>
                    <h3>2. We evaluate your profile</h3>
                    <p class="text-faded">We assess your profile and if your application ticks all the boxes, one of our team members will get in touch with you to kick start the interview process </p>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 text-center">
                <div class="service-box">
                    <div id="image04" class="image wow bounceIn"><div style="background-image: url('https://i.imgur.com/BW5XxyA.png');" class="round-image">

</div></div>
                    <h3>3. Get onboarded as an APM</h3>
                    <p class="text-faded">We'll match you to a participating company with a stellar product team and after you clear the interview(s), you get oboarded as an APM</p>
                </div>
            </div>
        </div>
    </div>
</section>
